img {
  max-width: 100%;
  display: block;
}
div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
h1 {
  grid-column: 1/-1;
}
@media (width<=600px) {
  div {
    grid-template-columns: 1fr;
  }
}

@media (300px<=width<=400px) {
  body {
    background-color: #84f;
  }
}
